
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.281);
    color: #333;

    --c1:#87C8E1;
    --c2: #FADC0A;
    --c3: #DC1419;
}
header{
    background-color: var(--c1);
    overflow: auto;
    position: relative;
    border-radius: 0px 0px 40px 0px ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
header img{
    width: 400px;
    height: 200px;
    background-color: transparent;
    position: relative;
    
}
header h1{
    font-size: 50px;
    bottom: 25px;
    right: 30px;
    color: #f4f4f4;
    background-color: transparent;
    position: absolute;
}
section{
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    background-color: transparent;
    }
article {
    position: relative;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 10px 10px 10px ;
    text-align: center;
    background-color: whitesmoke;
    overflow: auto;
}
article img {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: transparent;
    
}
article p{
    background-color: transparent;
    line-height: 1.5;
}
article p strong{
    padding: 10px;
    background-color: transparent;
}
.gastronomia{
    background-image: url("/images/fondomesa.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    overflow: auto;
}
.gastronomia h3 {
    text-align: center;
    font-size: 24px;
    color: #e6b059;
    margin-bottom: 20px;
    background-color: transparent;
}
.plato {
    background-color: transparent;
    margin-bottom: 20px;
    padding: 15px;

}
.plato h4{
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;

}

.container {
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.726);
    margin: 10px;
}

.texto{
    background-color: transparent;
    padding: 5px;
    text-align: right;
    width: 60%;
    position: absolute;
    right: 40px;
    margin: auto;
    background-color: transparent;
    overflow: auto;
    
}
.texto p{
    color: #f4f4f4;
    text-align: justify;
    font-size: large;
}
.imagen{
    background-color: transparent;
    text-align: left;

}
.imagen img {
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(70, 41, 5, 0.726);

}

.conteiner3{
    position: relative;
    background-color: ghostwhite;
    width: 100%;
    height: 700px;
    margin: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 5px; 
}
.sector{

    background-color: #FFEC36;
    position: absolute;
    left: 5%;
    width: 40%;
    padding: 20px;
}
.sector img{
    width: 300px;
    height: 200px;
    border-radius: 0;
    box-shadow: none;
}

.sector h3{
    color: #1f1d1d;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: transparent;
}
.sector p,strong{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: transparent;


}






.turismo {
    width: 40%;
    position: absolute;
    right: 5%;
    background-color: #423f3f93;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.turismo p{
    color: #f4f4f4;
}

.turismo h3 {
    text-align: center;
    font-size: 24px;
    color: #6D4C1A;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: transparent;
}

.turismo ul {
    list-style: none;
    padding: 0;
    background: transparent;
    color: #f4f4f4;
}

.turismo li {
    background: transparent;
    color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: visible;
}

.turismo strong {
    color: #f4f4f4;
    font-size: 20px;
    background: transparent;
    height: 20px;
}

.turismo a{
    color: #f4f4f4;
    text-decoration: none;
    background: transparent;
}

.turismo .final {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #f4f4f4;
}


/* footer {
    width: 100%;
    height: 200PX;
    border-style: solid;
    background-image: url("/images/campuslands.png");
    background-repeat: no-repeat;
    background-size: cover;


} */